 <!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
	<title>Thesis Management</title>
	{% load static %} {% include 'Resources/Head.html' %}
</head>

<body id="page-top">
	<div id="wrapper">
		{% include 'Resources/Navbar.html' %}

		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				{% include 'Resources/Menu4.html' %}
				<div class="container-fluid">
<!--					<div class="d-sm-flex justify-content-between align-items-center mb-4">-->
<!--						<h3 class="text-dark mb-0">Manage Thesis</h3>-->
<!--					</div>-->
					<div class="row">
						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow border-left-primary py-2">
								<div class="card-body">
									<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Add Thesis</span></div>
									<div class="form-group py-4">
										<form method="POST"  enctype="multipart/form-data"
											action="{% url 'Thesis:AddThesis' %}" >
											{% csrf_token %}
											<p class="{{ Visiblity }} text-{{ color }}">{{ MessageExtension }}</p>
                                            {{ AddForm.as_p }}
											<br />
											<br />
											
											<button id="AddButton" type="submit" class="btn btn-warning"><i
													class="fas fa-edit"></i>&nbsp;&nbsp;Add</button>


										</form>
									</div>
								</div>
							</div>
						</div>
					

						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow border-left-primary py-2">
								<div class="card-body">
									<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>List Thesis</span></div>
									<div class="form-group py-4">
										<form method="POST" action="{% url 'Thesis:Search_by_Name' %}">
											{% csrf_token %}
											<p class="{{ Visiblity }} text-{{ color }}">{{ Message_Search }}</p>
											<p class="font-weight-bold text mb-1">Search by:</p>
											
											<p>
												<label for="id_name">Thesis name:</label>
												<input type="text" id="id_name" name="Thesis_Name" value=""
													class="form-control" placeholder="Thesis Name" required />
											</p>
										    
											<button type="submit" class="btn btn-success btn-sm"><i
													class="fas fa-search"></i>&nbsp;&nbsp;Search</button>
											</p>
										</form>
										<form method="POST" action="{% url 'Thesis:Search_by_Area' %}">
											{% csrf_token %}
											<p class="font-weight-bold text mb-1">--OR--</p>
											<p>
												<label for="Thesis_Area">Area/Field:</label>
												<input type="text" id="Thesis_Area" name="Thesis_Area" value=""
													class="form-control" placeholder="Area/Field" required />
											</p>
									
											<button type = "submit" class="btn btn-success btn-sm"><i
													class="fas fa-search"></i>&nbsp;&nbsp;Search</button>
											</p>
										</form>
										<form method="POST" action="{% url 'Thesis:Search_by_Tech_used' %}">
											{% csrf_token %}
											<p class="font-weight-bold text mb-1">--OR--</p>
											<p>
												<label for="Technology_used">Technology:</label>
												<input type="text" id="Technology_used" name="Technology_used" value=""
													class="form-control" placeholder="Technology" required />
											</p>
											<button type="submit" class="btn btn-success btn-sm"><i
													class="fas fa-search"></i>&nbsp;&nbsp;Search</button>
											</p>
										</form>
											<p>
													<a href="{% url  'Thesis:List'%} " class="float-right" >View All</a>
											</p>
										
									</div>
								</div>
							</div>
						</div>
						
						{% if perms.Resources.admin_rights %}
						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow border-left-primary py-2">
								<div class="card-body">
									<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Remove
											Thesis</span></div>
									<div class="form-group py-4">
										<form method="POST" action="{% url 'Thesis:Remove' %}">
											{% csrf_token %}
											<p>
												<label for="id_remove">Thesis Name:</label>
												<input type="text" id="id_remove" name="thesis_remove" value=""
													class="form-control" placeholder="Thesis Name" required />
											</p>
											<p class="{{ Visiblity }} text-{{ color }}">{{ Message }}</p>
											<button type="submit" class="btn btn-danger"><i
													class="fas fa-trash-alt"></i>&nbsp;&nbsp;Remove</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						{% endif %}

                        {% if perms.Resources.admin_rights %}
						<div class="col-md-6 col-xl-3 mb-4">
							<div class="card shadow border-left-primary py-2">
							  <div class="card-body">
								<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Generate Report</span></div>
								<div class="form-group py-4">
								  <form method="POST" action="{% url 'Thesis:Report' %}">
									{% csrf_token %}
									<button type="submit" class="btn btn-success"><i
										class="fas fa-file-invoice"></i>&nbsp;&nbsp;Click here</button>
								  </form>
								</div>
							  </div>
							</div>
						  </div>
						  {% endif %}
										
	                    


</div>
</div>
</div>
</div> 
{% include 'Resources/Links.html' %}
	<!-- Other JavaScript -->
	<script src="{% static 'Resources/js/main.js' %}"></script>
	<script>
		$(document).ready(function () {
			//Event code end here
			$("#sidebarToggleTop").trigger("click"); //trigger its click
		});
		// $(function () {
		// 	$("#id_remove").keyup(function () {
		// 		this.value = this.value.toLocaleUpperCase();
		// 	});
		// });

		$(function () {
			$("#id_Enrollment").keyup(function () {
				this.value = this.value.toLocaleUpperCase();
			});
		});

        $("#alert").on('submit', function(event) {
            alert("Thesis added");
		});

	
</script>

</body>
 </html>

