<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Software Management</title>
    {% load static %} {% include 'Resources/Head.html' %}
    <style>
		body {
			color: black;
		}

		th,
		td {
			padding: 5px;
		}

		#all th {
			background-color: #1c42c0;
			color: rgba(255, 243, 243, 0.966);
		}
	</style>
  </head>

  <body id="page-top">
    <div id="wrapper">
      {% include 'Resources/Navbar.html' %}

      <!--blocks code  -->
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          {% include 'Resources/Menu1.html' %}
          <div class="container-fluid">
              <div class="row">
						<div class="col-md-12">

            <div class="text-center bg-primary mb-4 text-light pt-2 pb-1 rounded">
              <h1>Available Items in the Stock</h1>
            </div>
                            <div style="text-align: center;">
            <table border="1" style="margin: 10px; width: 100%;" id="all">
              <thead>
                <tr>
                      <th>Software Id</th>
                      <th>Software Name</th>
                     <th scope="col">Purchase From</th>
                     <th scope="col">Purchase Date</th>
                     <th scope="col">Expire Date</th>
                       <th scope="col">No of Users</th>
<!--                  <th scope="col">Available Item</th>-->
                       <th scope="col">Price of Individual</th>
                        <th scope="col">Total Price(with GST)</th>
<!--                  <th scope="col">Price of Total</th>-->
<!--                  <th scope="col">Authorized by</th>-->
<!--                  <th scope="col">Add for</th>-->
                  <th scope="col">Action</th>

                </tr>
              </thead>
              <tbody>
                {% for Software_info in allproduct %}
                <tr>
                  <td>{{ Software_info.Soft_id }}</td>
                  <td>{{Software_info.SName }}</td>
                  <td>{{ Software_info.Pur_from}}</td>
                  <td>{{ Software_info.PurD}}</td>
                  <td>{{ Software_info.ExpD}}</td>

                   <td>{{ Software_info.Tot_users }}</td>
<!--                  <td>{{ Item_info.qty }}</td>-->
                   <td>{{ Software_info.ind_pri}}</td>
                    <td>{{Software_info.tot_pri}}</td>

                    <td><a href="{% url 'Software:Update' Software_info.Soft_id %}"
                         class="btn btn-success">Edit</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
                              <a href="{% url 'Software:Total' %}"
                         class="btn btn-secondary">Back</a>

                        </div>
                        </div>

              </div>
          </div>
        </div>
        {% include 'Resources/Footer1.html' %}
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    {% include 'Resources/Links.html' %}
    <!-- Other JavaScript -->
    <script src="{% static 'Resources/js/main.js' %}"></script>
    <script>
      $(document).ready(function () {
        //Event code end here
        $("#sidebarToggleTop").trigger("click"); //trigger its click
      });
    </script>
  </body>
</html>
