APScheduler
arabic-reshaper
asgiref
backports.zoneinfo;python_version<"3.9"
certifi
cffi
charset-normalizer
click
colorama
cryptography
defusedxml
dj-database-url
Django
django-heroku
django-mathfilters
future
gunicorn
html5lib
idna
oauthlib
Pillow
plan
psycopg2
pycparser
PyJWT
PyPDF2
python-bidi
python-http-client
python3-openid
pytz
pytz-deprecation-shim
reportlab
requests
requests-oauthlib
schedule
sendgrid
six
social-auth-app-django
social-auth-core
sqlparse
starkbank-ecdsa
twilio
tzdata
tzlocal
urllib3
waitress
webencodings
whitenoise
xhtml2pdf
xlwt
