<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
	</head>

	<body id="page-top">
		<div id="wrapper">
			{% include 'Resources/Navbar.html' %}

			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu.html' %}
					<div class="container-fluid">
						<div class="d-sm-flex justify-content-between align-items-center mb-4">
							<h3 class="text-dark mb-0">Student Bulk Account Creations</h3>
						</div>
						<div class="row">
							<div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Student Account Info</span></div>
                                        <h4>Total Students: {{ TotalCandidates }}</h4>
                                        <h3 class="text-success">Successful Account Created: {{ lensuccessList }}</h3>
                                        <br/>
                                        <br/>
                                        {% for success in successList %}
                                        <label class="text-success">{{ success }}</label>
                                        {% endfor %}
                                        <br/>
                                        <br/>
									</div>
								</div>
                            </div>
                            
                            <div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Student Account Info</span></div>
                                        <h4>Total Students: {{ TotalCandidates }}</h4>
                                        <h3 class="text-danger">Failed Accounts (Duplicate Enrollment): {{ lenenrollmentFailedList }}</h3>
                                        <br/>
                                        <br/>
                                        {% for enrollfail in enrollmentFailedList %}
                                        <label class="text-danger">{{ enrollfail }}</label>
                                        {% endfor %}
                                        <br/>
                                        <br/>
									</div>
								</div>
                            </div>
                            
                            <div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
                                        <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Student Account Info</span></div>
                                        <h4>Total Students: {{ TotalCandidates }}</h4>
                                        <h3 class="text-danger">Failed Accounts (Duplicate Email): {{ lenemailFailedList }}</h3>
                                        <br/>
                                        <br/>
                                        {% for emailfail in emailFailedList %}
                                        <label class="text-danger">{{ emailfail }}</label>
                                        {% endfor %}
                                        <br/>
                                        <br/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% include 'Resources/Footer.html' %}
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});

			$(function () {
				$("#id_remove").keyup(function () {
					this.value = this.value.toLocaleUpperCase();
				});
			});

			$(function () {
				$("#id_Enrollment").keyup(function () {
					this.value = this.value.toLocaleUpperCase();
				});
			});
		</script>
	</body>
</html>
