<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Attendance System</title>
    {% load static %}
    {% include 'Resources/Head.html' %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include 'Resources/Navbar.html' %}
     
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                {% include 'Resources/Menu.html' %}
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">View Attendance</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-xl-5">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">{{ SubjectInstance.Name }} - Attendance</h6>
                                </div>
                                <div class="card-body">
                                    <label><strong>Student's Name: </strong>{{ StudentInstance.First }}&nbsp;{{ StudentInstance.Last }}</label><br/><br/>
                                    <label><strong>Student's Enrollment: </strong>{{ StudentInstance.Enrollment }}</label><br/><br/>
                                    <label><strong>Subject: </strong>{{ SubjectInstance.Name }}</label><br/><br/>
                                    <label><strong>Theory Lectures Attended: </strong>{{ Theory }}/{{ SubjectInstance.Theory_Lectures }}</label><br/><br/>
                                    <label><strong>Lab Attended: </strong>{{ Lab }}/{{ SubjectInstance.Lab_Lectures }}</label><br/><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'Resources/Footer.html' %}
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
    {% include 'Resources/Links.html' %}
    <!-- Other JavaScript -->
    <script src="{% static 'Resources/js/main.js' %}"></script>
    <script>
        $(document).ready(function() { // Event code end here
            $("#sidebarToggleTop").trigger("click"); // trigger its click
        });
    </script>
</body>

</html>