<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
	</head>

	<body id="page-top">
		<div id="wrapper">
	{% include 'Resources/Navbar.html' %}
			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu.html' %}
					<div class="container-fluid">
						<h3 class="text-dark mb-4">Subject Attendance</h3>
						<div class="card shadow">
							<div class="card-header py-3">
								<p class="text-primary m-0 font-weight-bold">Student Info</p>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-md-6 text-nowrap">
										<div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
											{% comment %} <label>
                                            Show
                                            <select class="form-control form-control-sm custom-select custom-select-sm">
                                                <option value="10" selected>10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </label> {% endcomment %}
											<label>Total Students: {{ total }}</label>
											<br/>
											<label>Present: {{ presentcount }}</label>
											<br/>
											<label>Absent: {{ absentcount }}</label>
											<br/>
											 {% comment %} if
											<label>Absent: {{ absentcount }}</label> {% endcomment %}
										</div>
									</div>
									<div class="col-md-6">
										<div class="text-md-right dataTables_filter" id="dataTable_filter">
											<label>
												<!--<input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" />-->
											</label>
										</div>
									</div>
								</div>
								<form method="POST" action="#">
									{% csrf_token %}
									<div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
										<table class="table my-0" id="dataTable">
											<thead>
												<tr>
													<th>Full Name</th>
													<th>Enrollment Number</th>
													<th>Lecture Type</th>
													<th>Attendance</th>
													<th>Modify</th>
												</tr>
											</thead>
											<tbody>
												{% for student in finalList %}
												<tr>
													<td>{{ student.Name }}</td>
													<td>{{ student.Enrollment }}</td>
													<td>{{ student.LectureType }}</td>

													{% if student.Attendance == "Present" %}
														<td class="text-success"><label>{{ student.Attendance }}</label></td>
													{% else %}
														<td class="text-danger"><label>{{ student.Attendance }}</label></td>
													{% endif %}

													{% if student.Attendance == "Present" %}
														<td><button type="button" id="id_button_absent_{{ student.id }}" class="btn btn-primary" onclick="markAbsent({{ subjectInstance.id }}, {{ student.id }}, '{{ Date }}', '{{ student.LectureType }}', '#id_button_absent_{{ student.id }}');">Mark Absent</button></td>
													{% else %}
														<td><button type="button" id="id_button_present_{{ student.id }}" class="btn btn-danger" onclick="markPresent({{ subjectInstance.id }}, {{ student.id }}, '{{ Date }}', '{{ student.LectureType }}', '#id_button_present_{{ student.id }}');">Mark Present</button></td>
													{% endif %}
												</tr>
												{% endfor %}
											</tbody>
											{% comment %} <tfoot>
												<tr>
													<td><strong>Full Name</strong></td>
													<td><strong>Enrollment Number</strong></td>
													<td><strong>Lecture Type</strong></td>
													<td><strong>Attendance</strong></td>
													<td><strong>Modify</strong></td>
												</tr>
											</tfoot> {% endcomment %}
										</table>
									</div>
									<div class="row">
										<div class="col-md-6 align-self-center">
											<p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
												<!-- -->
											</p>
										</div>
										<div class="col-md-6"></div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<section>
                <div class="modal fade" id="Modal_Success_Message" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="Modal_Success_MessageLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal_Success_MessageLabel">Attendance Updated</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
                            </div>
                            <div class="modal-body"><i class="fa fa-check text-success"></i>&nbsp;Attendance Updated Successfully.</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Okay</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="Modal_Error_Message" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="Modal_Error_MessageLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="Modal_Error_MessageLabel">Error Occurred</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
                            </div>
                            <div class="modal-body"><i class="fa fa-times text-danger"></i>&nbsp;Internal Server Error, attendance not updated.</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Okay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
				{% include 'Resources/Footer.html' %}
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});

			function getCookie(c_name) {
				if (document.cookie.length > 0) {
					c_start = document.cookie.indexOf(c_name + "=");
					if (c_start != -1) {
						c_start = c_start + c_name.length + 1;
						c_end = document.cookie.indexOf(";", c_start);
						if (c_end == -1) c_end = document.cookie.length;
						return unescape(document.cookie.substring(c_start, c_end));
					}
				}
				return "";
			}

			function markAbsent(subjectID, studentID, AttDate, AttLectureType, buttonID) {
				
				if (AttLectureType != '')
				{
					$.ajax({
						headers: { "X-CSRFToken": getCookie("csrftoken") },
						url: "{% url 'Attendance:UpdateAttendance' %}",
						type: "POST",
						data: { currentSubject: subjectID, currentStudent: studentID, currentDate: AttDate, currentLecture: AttLectureType, operationType: 'Absent' },
						dataType: "json",
						success: function (response) {

							if (response.hasOwnProperty("Success")) {
								$("#Modal_Success_Message").modal("show");
								$(buttonID).html('Updated');
								$(buttonID).prop("disabled", true);
							}
							else
							{
								$("#Modal_Error_Message").modal("show");
							}

						},
					});
				}
				else
				{
					alert("Can not update attendance on the day when there is no student present at all.");
				}

			}

			function markPresent(subjectID, studentID, AttDate, AttLectureType, buttonID) {
				
				if (AttLectureType != '')
				{
					$.ajax({
						headers: { "X-CSRFToken": getCookie("csrftoken") },
						url: "{% url 'Attendance:UpdateAttendance' %}",
						type: "POST",
						data: { currentSubject: subjectID, currentStudent: studentID, currentDate: AttDate, currentLecture: AttLectureType, operationType: 'Present' },
						dataType: "json",
						success: function (response) {

							if (response.hasOwnProperty("Success")) {
								$("#Modal_Success_Message").modal("show");
								$(buttonID).html('Updated');
								$(buttonID).prop("disabled", true);
							}
							else
							{
								$("#Modal_Error_Message").modal("show");
							}

						},
					});
				}
				else
				{
					alert("Can not update attendance on the day when there is no student present at all.");
				}
			}
		</script>
	</body>
</html>
