<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Hardware Management</title>
		{% load static %} {% include 'Resources/Head.html' %}
		<style>
			@media (max-width: 576px) {
				li {
					width: 100%;
				}
			}

			@media (max-width: 768px) {
				li {
					width: 100%;
				}
			}
		</style>
	</head>

	<body id="page-top">
		<div id="wrapper">
			{% include 'Resources/Navbar.html' %}

            <!--blocks code  -->
            <div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu1.html' %}
					<div class="container-fluid">
						{% if messages %}
                       {% for message in messages %}
                        {% if message.tags %}
                         <div class="alert alert-{{ message.tags }} alert-dismissible">
                         <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                          <span class="{{ message.tags }} font-weight-bold">{{ message }}</span>
<!--                          <br>-->
<!--                        <a type="button" class="btn btn-{{ message.tags }} btn-sm mt-1" href="{% url 'hardware:viewassign' %}">View Assign Items Report</a>-->
                         </div>
                        {% endif %}
                         {% endfor %}
                          {% endif %}


						--
            <a href="{% url 'hardware:totalstock' %}" class="btn btn-info btn-sm">
              View Stock Report  </a> --

			  <a href="{% url 'hardware:viewassign' %}" class="btn btn-info btn-sm">
				View Assign Report </a>


			<div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6 col-xl-5 mb-4">
              <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                  <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><h3>Assign to Lab or Faculty</h3></div>
                  <div class="form-group py-4">
                    <form method="POST" action="{% url 'hardware:assignitem' %}">
                      {% csrf_token %}
                       <div class="form-group col-sm-14 flex-column d-flex"> <label
							   class="form-control-label px-1">Item id<span
							   class="text-danger"> *</span></label><input type="number" name="item_id" id="item_id" value="{{items.item_id}}" readonly>
					    </div>
                        <div class="form-group col-sm-14 flex-column d-flex"> <label
							   class="form-control-label px-1">Quantity<span
							   class="text-danger"> *</span></label><input type="number" min="1" name="quantity" id="quantity" value="{{items.qty}}"></div>


                      <div class="row justify-content-between text-left">
                       <div class="form-group col-sm-5 flex-column d-flex"> <label
							   class="form-control-label px-1">Assign to Lab<span
							   class="text-danger"> *</span></label><select type="text" name="lab_name"  >
                               <option value="" disabled selected>&#45;&#45;Select Lab&#45;&#45;</option>

														<option value="ATC 111">ATC 111</option>
						                                <option value="ATC 203">ATC 203</option>
														<option value="ATC 204">ATC 204</option>
														<option value="ATC 207">ATC 207</option>
														<option value="ATC 208">ATC 208</option>

						      </select>
					   </div>
						  <span>OR</span>
						  <div class="form-group col-sm-5 flex-column d-flex"> <label
							   class="form-control-label px-1">Assign to Faculty<span
							   class="text-danger"> *</span></label><select type="text" name="lab_name"  >
                               <option value="" disabled selected>--Select Faculty--</option>
							   {% for i in faculty %}
							   <option value="{{ i.FacultyCollegeID}}&nbsp({{i.First}}&nbsp {{i.Last}})">{{ i.FacultyCollegeID}}({{i.First}}{{i.Last}})</option>
							   {% endfor %}
						  </select>
						  </div>
					  </div>

						  <div class="form-group col-sm-14 flex-column d-flex"> <label
							   class="form-control-label px-1">Assign Date<span
							   class="text-danger"> *</span></label><input type="date" name="assign_date" id="assign_date" required></div>

						   <div class="form-group col-sm-14 flex-column d-flex"> <label
							   class="form-control-label px-1">Assign By<span
							   class="text-danger"> *</span></label><input type="text" name="assigned_by" id="assigned_by" value="{{user.username}}" readonly >
<!--						      <option value="" disabled selected>&#45;&#45;Select user&#45;&#45;</option>-->
<!--							   {% for i in users %}-->
<!--							   <option value="{{i.id}}">{{ i.username }}</option>-->
<!--							   {% endfor %}-->
<!--						   </select>-->
						   </div>
						<br>
                      <button type="submit" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;&nbsp Assign</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>




<!--									 &lt;!&ndash; <td><input type="text" id="added_by" name="added_by" placeholder="username" required/></td> &ndash;&gt;-->

					</div>
				</div>
				{% include 'Resources/Footer1.html' %}
            </div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
	{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});
			</script>
    </body>
</html>
        