<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Hardware Management</title>
		{% load static %} {% include 'Resources/Head.html' %}
		<style>
			@media (max-width: 576px) {
				li {
					width: 100%;
				}
			}

			@media (max-width: 768px) {
				li {
					width: 100%;
				}
			}
		</style>
	</head>

	<body id="page-top">
		<div id="wrapper">
			{% include 'Resources/Navbar.html' %}


            <!--blocks code  -->
            <div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu1.html' %}
					<div class="container-fluid">
						<div class="d-sm-flex justify-content-between align-items-center mb-4">
							<h3 class="text-dark mb-0">Assignment to Lab  </h3>
						</div>
              <p>
                <h1>The quantity entered should not be greater than the available stock !!!</h1>
            </p>
            <center> <a href ="/hardware/assignitem"  class="btn btn-outline-secondary btn-sm">Go Back</a>  </center>
            
					
				
					</div>
				</div>
				{% include 'Resources/Footer1.html' %}
            </div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
	{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});
			</script>
    </body>
</html>
