<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
		<title>Attendance System</title>
		{% load static %} {% include 'Resources/Head.html' %}
	</head>

	<body id="page-top">
		<div id="wrapper">
			{% include 'Resources/Navbar.html' %}

			<div class="d-flex flex-column" id="content-wrapper">
				<div id="content">
					{% include 'Resources/Menu.html' %}
					<div class="container-fluid">
						<div class="d-sm-flex justify-content-between align-items-center mb-4">
							<h3 class="text-dark mb-0">Send Email</h3>
						</div>
						<div class="row">
							<div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Compose New Email</span></div>
										<div class="form-group py-4">
											<form method="POST" enctype="multipart/form-data" action="{% url 'Mails:Compose' %}">
												{% csrf_token %}
												<p>
													<label for="id_To">To Emails (comma seperated)</label>
													{{ Form.To }}
												</p>
												<p>
													<label for="id_Subject">Subject Line</label>
													{{ Form.Subject }}
												</p>
												<p>
													<label for="id_Attachment">Attachment (Optional)</label>
													{{ Form.Attachment }}
												</p>
												<p>
													<label for="id_Body">Body</label>
													{{ Form.Body }}
												</p>
												<p class="{{ Visiblity }} text-{{ color }}">{{ Message }}</p>
												<button type="submit" class="btn btn-success"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Send Email</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% comment %} {% if perms.Resources.sms_rights %}
							<div class="col-md-6 col-xl-4 mb-4">
								<div class="card shadow border-left-primary py-2">
									<div class="card-body">
										<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Send SMS</span></div>
										<div class="form-group py-4">
											<form method="POST" action="{% url 'Mails:SendSMS' %}">
												{% csrf_token %}
												<p>
													<label for="id_Contact">Phone Numbers (comma seperated)</label>
													{{ SMSForm.Contact }}
												</p>
												<p>
													<label for="id_Message">Message</label>
													{{ SMSForm.Message }}
												</p>
												<p class="{{ Visiblity2 }} text-{{ color2 }}">{{ Message2 }}</p>
												<button type="submit" class="btn btn-success"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Send SMS</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							{% endif %} {% endcomment %}
						</div>
					</div>
				</div>
				{% include 'Resources/Footer.html' %}
			</div>
			<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
		</div>
		{% include 'Resources/Links.html' %}
		<!-- Other JavaScript -->
		<script src="{% static 'Resources/js/main.js' %}"></script>
		<script>
			$(document).ready(function () {
				//Event code end here
				$("#sidebarToggleTop").trigger("click"); //trigger its click
			});
		</script>
	</body>
</html>
